@import "colors-waybar.css";
*{
	all: unset;
	font-family: "SF Pro Text";
	font-weight : 500;
}
	
window#waybar {
	background: @background;
	/*background: #181926;*/
	color:  @foreground;
	/*color : #cdd6f4;*/
	font-size: 10px;
}

#workspaces {
}


	   
#workspaces button {
	/*color: #c0caf5;*/
	/*background-color: #1e2030;*/
   	padding : 0.2rem 1rem 0.2rem 1rem;
	margin : 0.3rem 0;
	border-radius : 4px;
}
   
#workspaces button.active {
	background-color: @surface;
	color : @foreground;
	/*color : #f38ba8;*/
}
 
#battery,
#bluetooth,
#cpu,
#pulseaudio,
#window,
#custom-lock,
#custom-menu,
#network,
#custom-swaync,
#clockgroup,
#tray,
#custom-weather.sunnyDay {
   	padding : 0.3rem 0.5rem 0.3rem 0.5rem;
	background-color: @surface;
	border-radius : 4px;
	/*background-color: #1e2030;*/
	margin: 0.3rem 0 0.3rem 0;
}




   
@keyframes blink {
	to {
	color: rgb(225, 225, 225);
	   }
}
   
#battery.critical:not(.charging) {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#battery.warning:not(.charging) {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}



#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;  
	min-height: 10px; 
	background-color: rgb(225, 225, 225);
}

#pulseaudio-slider highlight {
	min-height: 10px; 
	background-color: wheat;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;  
	min-height: 10px;
	background-color: rgb(225, 225, 225);
}

#backlight-slider highlight {
	min-width: 10px; 
	background-color: wheat;
}
#custom-menu {
	margin-left : 0px;
   	padding : 0.3rem 0.5rem 0.3rem 0.5rem;

}


#custom-swaync {
	/* font-weight: bold; */
	padding : 0 8px 0 8px;
	margin-right : 0.3rem;


}

#custom-lock {
	/* font-weight: bold; */
	margin-left : 0.3rem;
	padding: 0 10px 0 10px;
}


#custom-clock_custom {
	padding-top : 1px;	
	font-family : "ClockFaceFatRect";
	font-size : 13px; 
}


#clock {

}

#clockgroup{

}


#network {
}

#battery {
}

#window {
}
window#waybar.empty #window {
    background-color: transparent;
}
#tray menu {
	background-color: @background;
	color: @foreground;
	font-size : 11px;
	padding : 6px;
	border-radius : 4px;
	border: 1px @foreground solid;
}
