* {
	border: none;
	font-family: "Roboto Mono Nerd Font";
	font-size: 13px;
	min-height: 0;
	color: #c9c6c8;
	background: #1a1b26;
}

#network, #battery, #clock, #tray, #pulseaudio, #workspaces, #media {
	
	padding : 0 8px;

}
